body{
    padding: 5rem 10rem;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background-color: antiquewhite;
    padding: 5rem;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    width: 250px;
    text-align: center;
}